 <!-- dark with data-bs, sticky-top -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Fitness Buddy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-link" href="/showProfile">Profile</a>
          <a class="nav-link" href="/exercises">Exercises Catalogs</a>
          <a class="nav-link" href="/workouts/new">New Workout</a>
          <a class="nav-link" href="/workouts/index">Workouts</a>
          <a class="nav-link" href="/workouts/workouthistory">Workout History</a>
          <a class="nav-link" href="/ai-trainer/chathistory">Chat History</a>
          <a class="nav-link" href="/ai-trainer/chat">Chat</a>
        </div>

      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
        <a href="/login" class="nav-link">Log In</a>
        <a href="/register" class="nav-link">| Register |</a>
        <% } %>
        <% if(currentUser){ %>
        <a href="/logout" class="nav-link">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>