<% layout('layouts/boilerplate'); %>
<h1 class="text-center">Start Workout</h1>
<div class="d-flex justify-content-center mb-2">
   
    <a class="btn btn-primary text-center"  href="/workouts/new" > Start an Empty Workout</a>
    </div>
<h2 class="text-center mb-2">Choose Workout</h2>
<form action="/viewWorkouts" method="POST" novalidate class="validated-form">
    <div class="row row-cols-lg-3 g-2 g-lg-3 mb-2" >
        
    <% for (let workout of workouts) { %>
        <div class="col-md-6">
        <div class="card shadow-lg" style="min-height: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-bold"><%= workout.title %></h5>
                        <p class="card-text text-muted">Date: <%= workout.date.toDateString() %></p>
                        <h6 class="card-subtitle mb-2 text-muted">Exercises:</h6>
                        <ul>
                            <% for (let i = 0; i < workout.exercises.length; i++) { %>
                                <li><%= workout.exercises[i].exercise.name %></li>
                            <% } %>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 do-workout-again" data-id="<%= workout._id %>">Do This Workout Again</button>
                    </div>
                </div>
            </div>
    <% } %>

</div>
</form>

<!-- Modal for exercise selection -->
<div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exerciseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exerciseModalLabel">View Workout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="workoutDetails"></div>
      </div>
    </div>
  </div>
</div>

<script>
    document.querySelectorAll('.do-workout-again').forEach(button => {
        button.addEventListener('click', function () {
            const workoutId = this.getAttribute('data-id');
            window.location.href = `/workouts/new?template=${workoutId}`;
        });
    });
</script>
