<% layout('layouts/boilerplate') %>

  <div class="row">
    <h1 class="text-center">New Workout</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="workout[name]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
          
            <div class="mb-3">    
                <label class="form-label" for="location">Duration</label>
                <input class="form-control" type="text" id="duration" name="workout[duration]" value="<%=  %>">
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
       
            <div class="mb-3">    
                <label class="form-label" for="location">Exercises</label>
                <input class="form-control" type="text" id="duration" name="workout[exercise]" value="">
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="sets">Sets</label>
                    <input type="number" name="sets" id="sets">
                </div>
                <div class="col-3">
                    <label for="reps">Reps</label>
                    <input type="number" name="reps" id="reps">
                </div>
                <div class="col-3">
                    <label for="weight">Weight</label>
                    <input type="number" name="weight" id="weight">
                </div>
            </div>
           
            <div class="mb-3">    
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="location" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            
              
            <div class="mb-3">
                <button class="btn btn-success">Finish Workout</button>
            </div>
            
        </form>
        <a href="/campgrounds">All campgrounds</a>
    </div>
  </div>
  

