<% layout('layouts/boilerplate'); %>
   
<div class="p-3 mb-2 bg-dark text-white">
    <div  class="position-relative w-120 vh-50" style=" display: flex; justify-content: center; align-items: center; width: 100%; ">
 
                <img src="https://getwallpapers.com/wallpaper/full/7/5/c/53625.jpg" class="img-fluid" alt="Fitness">
                <div style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px; font-weight: bold; text-align: center;">
                    <h1 class="mb-3">Welcome to <span class="text-primary">Fitness Buddy</span></h1>
                  </div>
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px; font-weight: bold; text-align: center;">
                    Push Yourself, Because No One Else Is Going To Do It For You
                  </div>
            </div>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                        <img src="https://s3.amazonaws.com/thisistoday-webassets/siteMedia/Devotion-Images/2019-10/workout.jpg" class="img-fluid rounded mb-3" alt="...">
                        <p>Ready for some wins? Start tracking, it’s easy!</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.vNo5s0dMrSfkCWZcnpJESAHaD2%26pid%3DApi&f=1&ipt=6fd7d00711fb7baac8258853415f2a266c09ef5b63d0895805afbc664ca49f43&ipo=images" class="img-fluid rounded mb-3" alt="...">
                        <p>Transform your fitness journey with personalized AI guidance and seamless workout tracking.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="https://cdn.dribbble.com/users/3993860/screenshots/12319955/media/1749f54ab1eff26f4f06622a7a4df111.png" class="img-fluid rounded mb-3" alt="...">
                        <p>Discover the impact of viewing your consistent progress</p>
                    </div>
                </div>
                <% if(!currentUser){ %>
                <div class="text-center mt-3">
                    <a href="/register" class="btn btn-primary">Sign Up!</a>
                    <p class="small text-center text-gray-soft mt-2">Have an account? <a href="/login">Sign In</a></p>
                </div>
                <% } %>
            </div>
   
        </div>
