<% layout('layouts/boilerplate') %>

<!-- {"bodyPart", "equipment", "gifUrl", "id", "name", "target", "secondaryMuscles", "instructions"} -->

<h1>All Exercise Catalogs</h1>
    <label for="search">Search(TODO)</label>
    <input type="text" name="search" id="search">
        <% for(let workout of workouts){ %>
            <div class="card mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= workout.gifUrl %>" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-2">
                            <h5 class="card-title text-bold"><%= workout.name %></h5>
                            <p class="card-text text-muted"><%= workout.bodyPart %></p>
                            <a href="/exercises/<%= workout.id %>" class="btn btn-primary mt-3">View</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>       
