<% layout('layouts/boilerplate') %>


<% for(let msg of pastMessages){ %>
<div class="row m-2">
    <div class="col-md-4 offset-6">
        <div class="d-flex justify-content-end">
            <div class="card border-dark mb-3" style="width: 38rem;">
                <div class="card-header bg-success text-white" style="max-height: 3rem;">User</div>
                <div class="card-body">
                  <p class="card-text"><%= msg.userMessage %></p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="row m-2">
    <div class="col-md-4 offset-2">
        <div class="d-flex justify-content-end">
            <div class="card border-dark mb-3" style="width: 38rem;">
                <div class="card-header bg-primary text-white" style="max-height: 3rem;">AI Trainer</div>
                <div class="card-body">
                  <p class="card-text"><%= msg.trainerMessage %></p>
                </div>
              </div>
        </div>
    </div>
</div>
    <% } %>

    <div class="container" id="chatContainer"></div>


<form id="chatForm" novalidate class="validated-form">
    <div class="row mb-5 fixed-bottom">
        <div class="col-md-8 offset-2 mb-5 fixed-bottom">
            <div class="row">
                <div class="col-md-10">
                    <textarea class="form-control border-success" style="background-color:darkgray;" type="text" id="userChat" name="AI[userChat]" cols="25" rows="3" required></textarea>
                </div>
                <div class="col-md-1 d-flex align-items-end">
                    <button class="btn btn-success border-dark">^</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
 const chatForm = document.querySelector('#chatForm');
 chatForm.addEventListener('submit', async (event) => {
    event.preventDefault();
    const userChat = document.getElementById('userChat').value;
    try{
        const response = await fetch('/ai-trainer/chat', {
        headers: {
            'Content-Type': 'application/json'
        },
        method: 'POST',
        body: JSON.stringify({AI: {userChat}}), 
    });

    const chatHistory = await response.json();
    if(response.ok){
    const chatContainer = document.getElementById('chatContainer');
    const userMessageDiv = document.createElement('div');
    userMessageDiv.classList.add('bg-gray');
    userMessageDiv.innerHTML = `<div class="row">
    <div class="col-md-4 offset-6">
        <div class="d-flex justify-content-end">
            <div class="card border-primary mb-3" style="width: 38rem;">
                <div class="card-header bg-success text-white" style="max-height: 3rem;">User</div>
                <div class="card-body">
                  <p class="card-text">${chatHistory.userMessage}</p>
                </div>
              </div>
        </div>
    </div>
</div>`;
    chatContainer.appendChild(userMessageDiv);    

    const trainerMessageDiv = document.createElement('div');
    trainerMessageDiv.innerHTML = `<div class="row">
    <div class="col-md-4 offset-2">
        <div class="d-flex justify-content-end">
            <div class="card border-primary mb-3" style="width: 38rem;">
                <div class="card-header bg-primary text-white" style="max-height: 3rem;">AI Trainer</div>
                <div class="card-body">
                  <p class="card-text">${chatHistory.trainerMessage}</p>
                </div>
              </div>
        </div>
    </div>
</div>`;
    chatContainer.appendChild(trainerMessageDiv);    
    document.getElementById('userChat').value = '';
 }    
} catch(e){ console.log(e);}

 });

</script>