<% layout('layouts/boilerplate') %>

<div class="container d-flex flex-column" style="height: 100vh;">
    <div class="chat-box flex-grow-1 overflow-auto" id="chatBox" style="padding-bottom: 60px;">
        <% if(pastMessages.length == 0) { %>
            <div class="row m-2">
                <div class="col-md-8 offset-md-2">
                    <div class="d-flex justify-content-start">
                        <div class="card border-dark mb-3" style="width: 100%;">
                            <div class="card-header text-primary-emphasis bg-primary-subtle border border-primary-subtle">AI Trainer</div>
                            <div class="card-body">
                                <p class="card-text">Hello! I am Fitness Buddy, your personal AI Trainer. Here's what you can do:</p>
                                <ul>
                                    <li>Ask for personalized workout plans.</li>
                                    <li>Get advice on fitness, health, and nutrition.</li>
                                    <li>Inquire about exercises targeting specific muscle groups.</li>
                                    <li>Receive recommendations based on your profile and past workouts.</li>
                                    <li>Ask for a summary of your recent workouts or chats with me.</li>
                                </ul>
                                <p class="card-text">How can I assist you in achieving your fitness goals today?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        <% for(let msg of pastMessages){ %>
        <div class="row m-2">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-end">
                    <div class="card border-dark shadow-lg mb-3" style="width: 100%;">
                        <div class="card-header shadow bg-success text-white d-flex justify-content-between">
                            <span>User</span>
                            <span><%= String(msg.date).slice(0, 15) %></span>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><%- msg.userMessage %></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
        <div class="row m-2">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-start">
                    <div class="card border-dark mb-3" style="width: 100%;">
                        <div class="card-header text-primary-emphasis bg-primary-subtle border border-primary-subtle">AI Trainer</div>
                        <div class="card-body">
                          <p class="card-text"><%- msg.trainerMessage %></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <form id="chatForm" novalidate class="validated-form">
        <div class="container mb-1 fixed-bottom">
            <div class="row justify-content-center">
                <div class="col-10 col-md-8">
                    <div class="input-group">
                        <textarea class="form-control border-dark shadow-lg bg-body rounded-3 w-auto" 
                                  type="text" id="userChat" name="AI[userChat]" cols="25" rows="3" 
                                  placeholder="Type your message..." required></textarea>
                        <button class="btn btn-success shadow-lg border-thick border-dark rounded-3">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>

<script>
 const chatForm = document.querySelector('#chatForm');
 
 chatForm.addEventListener('submit', async (event) => {
    event.preventDefault();
    const userChat = document.getElementById('userChat').value;
    try {
        const response = await fetch('/ai-trainer/chat', {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({AI: {userChat}}), 
        });

        const chatHistory = await response.json();
        if(response.ok) {
            const chatBox = document.getElementById('chatBox');
            const userMessageDiv = document.createElement('div');
            userMessageDiv.classList.add('bg-gray');
            userMessageDiv.innerHTML = `<div class="row m-2">
                <div class="col-md-8 offset-md-2">
                    <div class="d-flex justify-content-end">
                        <div class="card border-dark shadow-lg mb-3" style="width: 100%;">
                            <div class="card-header shadow bg-success text-white d-flex justify-content-between">
                                <span>User</span>
                                <span>${new Date().toDateString()}</span>
                            </div>
                            <div class="card-body">
                              <p class="card-text">${chatHistory.userMessage}</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>`;
            chatBox.appendChild(userMessageDiv);    

            const trainerMessageDiv = document.createElement('div');
            trainerMessageDiv.innerHTML = `<div class="row m-2">
                <div class="col-md-8 offset-md-2">
                    <div class="d-flex justify-content-start">
                        <div class="card border-dark mb-3" style="width: 100%;">
                            <div class="card-header text-primary-emphasis bg-primary-subtle border border-primary-subtle">AI Trainer</div>
                            <div class="card-body">
                              <p class="card-text">${chatHistory.trainerMessage}</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>`;
            chatBox.appendChild(trainerMessageDiv);    
            document.getElementById('userChat').value = '';
            chatBox.scrollTop = chatBox.scrollHeight; // Scroll to the bottom
        }    
    } catch(e) { 
        console.log(e);
    }
 });
</script>
